doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Comercio Mayorista
   body 
     h1 Catálogo de productos
      ul
         each product in products
               li
                  h2= product.name
                  p Categoría: #{product.category}
                  p Precio: $#{product.price}
                  button Comprar 
                  //el botón debería activarse o desactivarse si el cliente está logueado o no
                  
                  //no sé cómo hacer con el botón. Encontré estas opciones pero no sé si alguna sirve
                  if isLoggedIn
                     button Comprar
                  else
                     button(onclick="window.location.href='/login'") Iniciar sesión para comprar

                  button(type="submit", form="addToCartForm") Agregar al carrito
      // form#addToCartForm(method="post", action="/carrito")
      //- script.
      //- const isLoggedIn = #{isLoggedIn}; // Variable pasada desde el servidor
      //- if (!isLoggedIn) {
      //- alert('Debes iniciar sesión para comprar.');
      //- }
