:root {
    --color-bg: #ECECEC;  
    --color-text:  #393E46; 
    --color-btn:  #96a59f;  
    --color-btn-hover: #f9eff1;
    --color-btn-hover2: #ecf8f4;  
    --color-btn-hover2-bg: #464948;  
    --color-btn-border: #5f595a;   
    --color-btn-category: #e1afb8; 
    --color-btn-clean: #eeeaee; 
    --color-card: #b8bbb7; 
    --color-td-th-border: #322d2d;
    --color-cart-bg: lightgray;
    --color-total: green;
    --color-categorias-btn: rgb(238, 144, 90);
    --color-form-container-bg: #F7F3E9;
    --color-navbar-bg: #919292;
    --color-navbar-item-hover: rgb(41, 36, 36);
    --color-th-bg: #ccb1b6;

  }
  
body{
    background-color: var(--color-bg);
    margin-left: 2rem;
    width: 90vw;
    color: var(--color-text);
}
main {
    margin-top: 5rem;
}
section { 
    padding: 3rem;
}
h1 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    padding: 1rem;
}

p {
    font-size: 1.5rem;
}

input{
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.9rem;
    
}


form {
    display:inline-flex;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 0.9rem; 
    max-width: 25rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: var(--color-form-container-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
.form-group {
  width: 100%; /* Asegura que los elementos ocupen todo el ancho del formulario */
  display: flex;
  flex-direction: column; /* Etiqueta y campo en columna */
  gap: 5px; /* Espacio entre la etiqueta y el campo */
}

button, input[type="submit"] {
    border-radius: 20px;
    margin-left: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-btn);
    border: solid var(--color-btn-border);
}

button:hover {
    background-color: var(--color-btn-hover);
}

input[type="submit"]:hover {
    background-color: var(--color-btn-hover2-bg);
    color: var(--color-btn-hover2);
}

/* Estilos para la navbar*/
.navbar {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    background-color: var(--color-navbar-bg);
    padding: 1.2rem;
   
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0 1.5rem;
    padding: 0;
    
}

.nav-item a {
    color: var(--color-bg);
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem;
    font-weight: bold;
}

.nav-item a:hover {
    color: var(--color-navbar-item-hover);
}


ul {
    font-size: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 0.9rem;
    text-align: left;
    border: 1px solid var(--color-td-th-border);
    font-size: 1.3rem;

}
th {
    background-color: var(--color-th-bg);
}
select {
    margin-left: 2rem;
    border-radius: 20px;
    font-size: 1.3rem;
}

#categorias {
    display: flex;
    list-style: none;
    gap: 1em;
}
#categorias > li > button {
    background-color: var(--color-btn-category);
    color: var(--color-text);
    font-size: 1.5rem;
}
#categorias > li > #clean {
    background-color: var(--color-btn-clean);
}
#categorias > li > button.selected {
    color: var(--color-categorias-btn);
}

#cart {
    position: fixed;
    top: 6.5rem;
    padding: 1rem 3rem;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 16px;
    border: 1px solid black;
    background-color: var(--color-cart-bg);
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.2);
}
#cart > h4 {
    margin: 0;
    padding: 0;
    font-size: larger;
}
#total {
    font-size: x-large;
    font-weight: bold;
    color: var(--color-total);
}
#delete-product {
    margin:0;
    padding:0 ;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between; /* Alinea el contenido hacia abajo */
    align-items: flex-start; /* Centra horizontalmente */
    gap: 0rem; /* Añade espacio entre tarjetas */
    padding: 1rem; /* Espacio interior */
    padding-bottom: 5rem; /* Ajusta el espacio entre el contenido y el borde inferior */
    box-sizing: border-box; 
    
}

.product-card {
    margin: 1rem;
    border: var(--color-card) solid;
    border-radius: 15px;
    background-color: var(--color-card);
    max-width: 22%;
    width: 22%; /* Las tarjetas usan el ancho máximo permitido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra ligera */
    overflow: hidden; /* Evita que elementos sobresalgan */
    
}

.product-image{
    display: block;
    margin: 1rem auto;
    size: 80%;
    max-width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    width: 80%;
  }

.product-detail {
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}
.product-detail h2 {
    font-size: 1.5rem;
    margin-top: 0;
}
.product-detail p {
    font-size: 1.2rem;
}
.btnIS {
    border-radius: 30px;
    margin: 1rem;
}

.removeBtn {
    margin: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 20px;
}

/* Estilos para el carrito */
/* Header */
header h1 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    color: var(--color-text);
}

/* Sección de productos */
.products {
    padding: 2rem;
    background-color: var(--color-cart-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.product-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.product-item {
    background-color: var(--color-card);
    border: 1px solid var(--color-td-th-border);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item h3 {
    margin-bottom: 0.5rem;
    color: var(--color-text);
}

.product-item p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.product-item .categoria {
    color: var(--color-text);
}

.product-item .precio-unitario,
.product-item .cantidad,
.product-item .precio-final {
    font-weight: bold;
}

/* Sección de checkout */
.checkout {
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--color-form-container-bg);
    border-radius: 10px;
    text-align: center;
}

.checkout h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.checkout p.total {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-total);
}

/* Formulario */
.checkout-form, .cancel-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.checkout-form fieldset {
    border: none;
    padding: 0;
    text-align: left;
}

.checkout-form legend {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.checkout-form label {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.checkout-form input[type="radio"] {
    margin-right: 0.5rem;
}

button.btn {
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--color-btn-border);
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-text);
    background-color: var(--color-btn);
    cursor: pointer;
}

button.btn:hover {
    background-color: var(--color-btn-hover);
    color: var(--color-btn-hover2);
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-navbar-bg);
    color: var(--color-bg);
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Estilos para el chat */
#body-chat {
    display: flex;
    justify-content: center;
}

.chat-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 0.9rem; 
    width: 50rem;
    max-height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: var(--color-form-container-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    width: 90%;
}  
.list-group > li {
    padding: 0.5rem;
    font-size: 1.5rem;
}


#chat-form {
    background-color: var(--color-btn-border);
    padding: 0.25rem;
    margin-top: auto;
    bottom: 2rem;
    left: 0;
    right: 0;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }  
#roomLabel {
    font-size: 1.7rem;
  }
#room {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid var(--color-btn-border);
    border-radius: 10px;
    width: 90%;
    font-style: italic;
  }
   
 
  #room:focus {
    outline: none; /* Elimina el contorno azul predeterminado */
    border-color: var(--color-btn); /* Cambia el color del borde al enfocar */
  }
  

  #send {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--color-btn);
    border: 2px solid var(--color-btn-border);
    border-radius: 10px;
    cursor: pointer;
  }
  
  #send:hover {
    background-color: var(--color-btn-hover);
  }
  